---
import RootLayout from "../layouts/RootLayout.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
const isEditedVisible =
    frontmatter.edited && frontmatter.published != frontmatter.edited;
---

<RootLayout title={frontmatter.title} description={frontmatter.description}>
    <h1 class="text-3xl">{frontmatter.title}</h1>
    <div class="p-3"></div>

    <p class="text-gray-400">Author: {frontmatter.author}</p>
    <p class="text-gray-400">
        Date: {frontmatter.published}
        {
            isEditedVisible && (
                <span title="Edited Date">
                    ... (Last Edited: {frontmatter.edited})
                </span>
            )
        }
    </p>
    <div class="p-3"></div>

    <slot />
</RootLayout>
